/*solo componentes bootstrap*/
@font-face {
    font-family: OCRAStd;
    src: url(../font-awesome-4.7.0/OCRAStd.otf);
}
.jumbotron{


}

.navbar{
    margin-bottom: 15px;
    /*background: #2a6496;*/
    color:white;
}
.navbar-brand{

    color:red;
}
.navbar-nav{
   /* background: #2a6496;*/
    color:yellow;
}
.li{

    color: green;
}

a.active{
    font-weight:bold;
}

body {
    background: #cccccc;
}
#wrapper {
    font: 20px Calibri;
    width: 100px;
    margin: 0 auto;
}


.img1{
    width: 20%;
    height: 20%;
    text-align: center;
}

.img2{
   width: 20%; height: 20%; text-align: center;
}

.tipoGrafia{

    font-family: OCRAStd;
}